#wrap{width:100%;}
.cont{width: 455px;margin: auto}
.layui-form-label-bg{background-color:#FBFBFB}
.iW50{width:50px!important;}
.w50{width: 50px}
.unix-form{width: 370px;margin-left: auto;margin-right: auto;margin-top: 20px}